<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<context:component-scan base-package="com.leo.han"
		annotation-config="true" use-default-filters="true">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>





	<!-- Enables the caching through annotations -->
	<cache:annotation-driven />

	<!-- Generic cache manager based on the JDK ConcurrentMap -->
	<bean class="org.springframework.cache.support.SimpleCacheManager"
		id="cacheManager">
		<property name="caches">
			<set>
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					p:name="sampleCache" />
			</set>
		</property>
	</bean>



	<!-- Create a embedded dataSource by using the jdbc namespace can be use 
		for testing and dev -->

	<jdbc:embedded-database type="HSQL" id="dataSource">
		<jdbc:script location="classpath:embeddedsql/schema.sql" />
		<jdbc:script location="classpath:embeddedsql/test-data.sql" />
	</jdbc:embedded-database>



	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>

</beans>
